<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Jiovan</title>
</head>
<body>
    <div class="n-div">
        <nav class="n-nav">
            <ul class="n-ul">
                <li class="n-li" > <a href="#" id="jiovan" style="border:none; ">JIOVAN</a></li>
                <li class="n-li"> <a href="/">Trending</a></li>
                <li class="n-li"> <a href="/search">Search</a></li>
            </ul>
        </nav>
    </div>
    {{{body}}}
<footer id="footer">
  <div class="footer-container">
    <div class="developer-info">
      <h3>© jiovan</h3>
      <h3>Developer: Havyas U</h3>
      <div class="social-links">
        <a href="https://github.com/HavyasRai" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/havyas-u-1220b3230/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <h3 href="#">MUSIC PAGE CLONE </h3>
      </div>
    </div>
    <div class="sources">
      <h2>Sources</h2>
      <div class="api">
        <h4>Jio Saavan Api[unofficial]</h4>
        <a href="https://github.com/sumitkolhe/jiosaavn-api" ><p>GitHub Link</p></a>
      </div>
      <div class="api">
        <h4>Bill-board [top 100 songs]</h4>
        <a href="https://github.com/darthbatman/billboard-top-100" ><p>GitHub Link</p></a>
      </div>
    </div>
  </div>
</footer>

</body>
<script src="https://kit.fontawesome.com/f275a9cb1d.js" crossorigin="anonymous"></script>
</html>
