
    <link rel="stylesheet" href="css/rateus.css">
    <link rel="stylesheet" href="css/rateus-mob.css">

    <form class="container" method="post" id="container" action="/RateUs">
        <img src="image/rateimg.png" alt="">
        <h1>Rate Us!</h1>
        <h2>Your Opinion Matters to Us!</h2>
        <h4>we work hard to make the things closer for you...and we want to know your ratings for us.. </h4>
        <input type="text" id="user-name" name="name" placeholder="Enter your name" required>

        <div class="rating-stars" id="rating-stars">
            <input type="radio" name="rating" id="star5" value="5" required />
            <label for="star5">&#9733;</label>
            <input type="radio" name="rating" id="star4" value="4" required />
            <label for="star4">&#9733;</label>
            <input type="radio" name="rating" id="star3" value="3" required />
            <label for="star3">&#9733;</label>
            <input type="radio" name="rating" id="star2" value="2" required />
            <label for="star2">&#9733;</label>
            <input type="radio" name="rating" id="star1" value="1" required />
            <label for="star1">&#9733;</label>
        </div>
        <p name="totalrate" id="totalrate"> </p>

        <textarea id="review-text" placeholder="Write your review" name="userreview"></textarea>
        <div href="" id="submit-review"><button id="btn" type="">Submit</button>  </div>
    </form>
                <div class="popup" id="popup">
                    <h1 class="t-u">Thank You</h1>
                    <p>Your review was successfully submitted  
                        <div id="pop-btn">
                          <h6>Okay</h6>
                        </div>
                </div>
    {{!-- <div class="review-view">
        <h1>Reviews</h1>


        <div class="review-list">
            <div class="name">
                <p>Havyas</p>
            </div>
            <div class="rate">
                <p>5</p>
            </div>
            <div class="disc">
                <p>Lorem ipsum dolor sit amet consectetur adipis Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Optio reiciendis asperiores, dolor possimus maiores neque quo autem illo fuga esse illum totam
                    quia blanditiis quis, accusamus, necessitatibus magnam repudiandae repellat? Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Rem, harum totam? Fugit, consequatur eos culpa soluta placeat
                    repellat voluptas voluptatum asperiores, tempore delectus odit? Repudiandae nulla debitis reiciendis
                    sequi voluptas.icing elit. Nihil praesentium recusandae error! Consectetur, eius ullam vel molestiae
                    neque eaque optio quo omnis aliquam, dolore adipisci reprehenderit perferendis autem illum magni.
                </p>
            </div>
        </div>
        <img id="rev-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdby8i5gu9rDWFSzD5Mlo2oaP6D-uQKYKV-Dc3yIl-FxAVyYvdw5NRRbF8lxW5ue_QJ-Q&usqp=CAU"
            alt="">
    </div> --}}
    {{!-- </div> --}}

    <script>
        // JavaScript functionality for the page
        document.getElementById('submit-review').addEventListener("click", () => {
            var rating = document.querySelector('input[name="rating"]:checked').value;
            let totalrate = document.getElementById('totalrate');
            totalrate.innerHTML = rating;
        })


        let form = document.getElementById('container');
        form.addEventListener("submit", () => {
            document.getElementById("popup").classList.add('popup-active')
        })
        let popup = document.getElementById('popup');
        popup.addEventListener("click", () => {
            popup.classList.remove('popup-active')
         })
    </script>
