<div class="h-container">
    </div>
<div class="inp-container">
<input type="text" name="s-name" id="s-name" placeholder="Enter Song Name/Link"/>
        <button id="search-btn" type="button">
            <i class="fa-solid fa-magnifying-glass fa-xl"  style="color: #ffffff; font-weight:1000;"></i>
        </button>
    </div>
    {{!-- <div class="suggest-div">
        <button class="suggest">Trending</button>  
        <button class="suggest">Latest</button>  
        <button class="suggest">Lofi</button>  
        <button class="suggest">Remix</button>  
        <button class="suggest">Kannada</button>  
    </div> --}}
    
<div class="album-head">
    <h1>Albums</h1>
</div>
<ul class="album-card-container" onclick="">

</ul>
<script src="js/search.js"></script>
