<div class="h-container">
        <h1 id="m-header">Jiovan</h1>
    </div>
<div class="inp-container">
<input type="text" name="s-name" id="s-name" placeholder="Enter Song Name/Link"/>
        <button id="search-btn" type="button">
            <i class="fa-solid fa-magnifying-glass fa-xl"  style="color: #ffffff; font-weight:1000;"></i>
        </button>
    </div>
    {{!-- <div class="suggest-div">
        <button class="suggest">Trending</button>  
        <button class="suggest">Latest</button>  
        <button class="suggest">Lofi</button>  
        <button class="suggest">Remix</button>  
        <button class="suggest">Kannada</button>  
    </div> --}}
    <div class="card-container">
    </div>
<script src="js/search.js"></script>
