* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  transition: all .1 cubic-bezier(0.165, 0.84, 0.44, 1);
 }

body {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sortbuttons
{
  width: 90%;
  position: absolute;
  top: 8rem;
  left: 6rem;
  display: flex;
  justify-content: center;
}
.s-button {
  background-color: rgb(215, 210, 210); /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 7px 20px;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin-right: 2rem;
  box-shadow: 0 0 10px rgb(255, 253, 253);
  box-shadow: 0 0 10px rgb(54, 50, 50);
  cursor: pointer;
}
.button-active ,.s-button:hover
{
  background-color: rgb(97, 228, 207);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(70, 209, 255);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(54, 50, 50);
}
.n-nav{
  width:90%;
  height: 75px;
  background-color: rgb(95, 165, 208);
  background: linear-gradient(50deg,rgb(49, 40, 227),rgb(23, 173, 207),rgb(208, 8, 215));
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  padding: 0;
  z-index: 1;
  box-shadow: 0 5px 14px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 3px solid rgb(255, 255, 255);
}

.n-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;

}
h1{
  font-size: 2rem;
}
.n-li {
  width: 10%;
  height: 60%;
  list-style: none;
  padding: 4px 15px;
  margin: auto 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.n-li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.n-ul img {
  width: 55PX;
  height: 55px;
  margin-right: 55rem;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  /* box-shadow: 0 0px 25px rgb(222, 217, 217); */
}

#jiovan {
  font-size: 1.3rem;
}

#footer {
  background-color: rgb(101, 97, 97);
  padding: 20px;
  color: rgb(255, 251, 251);
  margin-bottom: 10rem;
  & a
  {
    color: rgb(255, 255, 255);
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer-info h3 {
  margin: 0;
  font-size: 18px;
  margin-right: 1rem;
}

.social-links a {
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}
#copyright
{
  color: #00eaff;
}
.api a,
.api p :hover {
  color: #007bff;
}

.sources h2 {
  margin: 0;
  font-size: 18px;
}

.api {
  margin-bottom: 10px;
}

.api h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.api p {
  margin: 0;
  font-size: 14px;
}

.api a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.api a:hover {
  color: #007bff;
}

#loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 70%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  justify-self: center;
  align-self: center;
  margin-left: 48%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(80deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#favicon {
  background-color: rgb(255, 0, 0);
  width: 100%;
}

/*css for loader from uiverse*/

@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 32px;
   top: 0;
  }
 
  23% {
   left: 32px;
   top: 0;
  }
 
  25% {
   left: 64px;
   top: 0;
  }
 
  35.5% {
   left: 64px;
   top: 0;
  }
 
  37.5% {
   left: 64px;
   top: 32px;
  }
 
  48% {
   left: 64px;
   top: 32px;
  }
 
  50% {
   left: 32px;
   top: 32px;
  }
 
  60.5% {
   left: 32px;
   top: 32px;
  }
 
  62.5% {
   left: 32px;
   top: 64px;
  }
 
  73% {
   left: 32px;
   top: 64px;
  }
 
  75% {
   left: 0;
   top: 64px;
  }
 
  85.5% {
   left: 0;
   top: 64px;
  }
 
  87.5% {
   left: 0;
   top: 32px;
  }
 
  98% {
   left: 0;
   top: 32px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 .load{
  position: fixed;
  top: .0;
  width: 100vw;
  height: 100%;
  background-color: #333;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index:1;
 }
 .hide{
  display:none;
 }
 .loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
 }
 .load h3{
  margin-top: 1rem;
  color: white;
 }
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
  background-color: #e3eaf1;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
  background-color: aquamarine;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
  background-color: cadetblue;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
  background-color: chocolate;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
  background-color: blueviolet;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
  /* background-color: color-mix(in rgb, rgb(42, 102, 97) 15%, rgb(78, 78, 236) 10%); */
  background-color: chartreuse;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
  background-color: burlywood;
 }
 
 .borderadd
 {
  border-bottom: 5px solid rgb(0, 0, 0);
 }
 .n-li:nth-child(5)
 {
  width: 3rem;
  background-color: transparent;
 }
.mode-changer{
  color: rgb(0, 0, 0);
  font-size: 30px;
 }
 .hidden{
  display: none;
 }
 .dark
 {
  background-color: rgb(45, 45, 42);
 }
 #into
 {
  display: none;
 }
 
 #desk-menu
 {
  display: flex;
 }
 #mob-nav
 {
  display: none;
 }
 #mob-menu
 {
  display: none;
 }
 #logo
 {
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    object-position: 60% 50%; 
    box-shadow: inset 0 -20px 10px rgb(206, 215, 215);
    overflow: hidden;
 }

 #body
 {
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
 }