.hidden {
    display: none;
}

@media (max-width:450px) {


    * {
        padding: 0;
        margin: 0;
    }

    /* Your CSS rules go here */
    /* For example: */
    body {
        width: 100%;
        height: 100vh;
        font-size: 16px;
        z-index: -5;
        background-color: rgb(0, 0, 0);
    }

    .album-card-container,
    body {
        background-color: rgb(45, 45, 42);
    }

    .inp-container {
        width: 90%;
        box-shadow: 0px 8px 15px grey;
    }

    .inp-container input {
        width: 85%;
    }

    .inp-container button {
        width: 15%;
    }

    #s-name {
        font-size: 1rem;
    }

    #m-header {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .n-nav {
        width: 90vw;
        height: 4rem;
        box-shadow: 0 5px 20px black;
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }


    .n-ul {
        width: 400px;
        height: 4rem;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 3rem;
        gap: 2px;
    }

    .n-li {
        width: 20%;
        height: 40%;
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
        background-color: transparent;
        color: white;
        background-color: transparent;
    }

    .n-ul img {
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 1rem;
        top: .2rem;
    }

    .n-ul a {
        display: block;
        width: 15rem;
        font-size: 1rem;
        padding: 0;
        border-radius: 2px;
        margin: .4rem 0;
        text-align: center;
        color: rgb(243, 242, 242);
        padding: 0;
        padding: 5px 15px;
    }

    footer {
        background-color: #212121;
        color: white;
        width: 100%;
        opacity: 0.9;
        position: unset;
        padding: 0;
        margin: 0;
        margin-top: 15rem;
    }

    body {
        padding-top: 2rem;
    }

    .footer-container {
        color: white;
        width: 100%;
        margin: 0;
        display: flex;
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    .developer-info,
    .developer-info h3 {
        color: white;
        width: 100%;
        height: fit-content;
        font-size: 1rem;
        text-align: center;
        margin-bottom: .1rem;
        padding: 0;
        margin-right: 10px;
    }

    .api,
    .api h4 {
        color: white;
        padding: 0;
        margin: 0;
    }


    .sources {
        color: white;
        width: 100%;
        font-size: .8rem;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-left: 10px;
    }

    .album-card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .card-album {
        width: 15rem;
        height: 20rem;
        grid-row: 1;
        box-shadow: 0px 10px 16px black;
        border-radius: 5px;
    }

    .album-img {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .a-img-div {
        width: 100vw;
    }

    .album-img img {
        width: 96%;
        height: 96%;
    }

    .a-details h1 {
        font-size: 1.2rem;
        margin-top: .6rem;
    }

    .album-popup {
        width: 100vw;
        background-color: rgb(45, 45, 42);
    }

    .albm-details {
        height: auto;
        margin: .5rem auto;
    }

    .albm-details h1 {
        font-size: 1rem;
    }

    .albm-details h2 {
        font-size: .8rem;
    }

    .album-song {
        width: 90%;
        justify-content: center;
    }

    .album-song .s-details h1 {
        height: 2rem;
        font-size: 1.1rem;
        height: fit-content;
        overflow: scroll;
        color: white;
    }

    .album-song .s-details h4 {
        font-size: .6rem;
    }

    .album-song .s-details {
        width: 10rem;
        margin: .4rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 0.3rem;
    }

    .albm-img {
        width: 13rem;
        height: 13rem;
        margin-right: 3rem;
        margin: .5rem auto;
        margin-top: 1.5rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
    }

    .albm-img img {
        width: 100%;
        height: 100%;
        margin-right: 3rem;
        margin: .3erm auto;
        padding: 0;
    }

    .popup-div {
        position: fixed;
        top: 1;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        /* display: block; */
        background-color: rgb(45, 45, 42);
    }

    .player {
        width: 85%;
        height: auto;
    }

    .player h1,
    h3,
    p {
        color: #ffffff;
    }

    .back-btn {
        margin: 0;
        top: .4rem;
    }

    .card-song {
        overflow: scroll;
        box-shadow: 0 8px 10px black;
        border-radius: 7px;
        border-top-right-radius: 0;
    }

    .card-song .s-details {
        margin: auto;
        margin-left: 10px;
        overflow: scroll;
    }

    .card-song .s-details h1 {
        font-size: 1.3rem;
        margin: 5px 0 0;
        padding: 0;
    }

    .card-song .s-details h4 {
        font-size: .8rem;
        margin: 5px 0;
    }

    .card-song .song-s-img img {
        margin: auto;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .card-song .song-s-img {
        margin: auto 1rem;
    }

    .social-links a i {
        color: white;
    }

    #s-songs {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #s-songs .card-song {
        width: 85%;
    }

    #s-songs .card-song {
        margin: .5rem .5rem;
    }

    #s-songs .card-song .s-details {
        margin: 0;
    }

    .s-songs .card-song h1 {
        font-size: .3rem;
    }

    .s-song-details h4 {
        font-size: .5rem;

    }

    .player-btn {
        margin: 1rem auto;
    }

    .album-head,
    .song-head {
        padding: 0;
    }

    .album-head h1,
    .song-head h1 {
        font-size: 2rem;
        text-shadow: 0 10px 20px black;
        font-size: 2.2rem;
        text-align: center;
    }

    #play-btn {
        min-width: 4.5rem;
    }

    .albm-songs {
        background-color: rgb(45, 45, 42);
    }
    .albm-songs .song-s-img {
        margin: 10px;
    };
    .n-li {
        padding-bottom: 5px;
    }

    #desk-menu {
        display: block;
        overflow: visible;
    }


    #logo {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
    }

    .n-nav span {
        width: 4rem;
        height: 3rem;
        display: flex;
        justify-content: end;
        align-items: center;
        text-align: start;
        position: absolute;
        right: 1rem;
    }

    .mode-change::before {
        padding: 10px;
    }

    .mode-changr,
    .mode-changer-div {
        position: absolute;
        right: 5rem;
        height: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .n-nav .n-li,
    span {
        width: 3rem;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .h1,
    .fs-2 {
        padding: 0;
        margin: 0;
    }

    #into {
        display: none;
        width: fit-content;
        position: absolute;
        top: .5rem;
        right: .1rem;
        background-color: #f9efef;
        padding: 2px 3px;
        border-radius: 50%;
        margin-right: 0;
    }

    #mob-menu {
        display: none;
        width: 13rem;
        height: 13rem;
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        border: 2px solid white;
        padding: 0;
        position: fixed;
        z-index: 8;
        top: 1.6rem;
        left: auto;
        transform: none;
        right: 3.4rem;
        box-shadow: 0 10px 10px rgb(0, 0, 0);
        border-top-right-radius: 0;
    }

    #mob-menu .n-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mob-menu .n-ul {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        margin: 0;
    }

    #mob-menu .n-ul .n-li {
        width: 90%;
        height: 2rem;
        display: flex;
        margin: 0;
        padding: 10px 0;
        margin: 5px 0;
        border: 2px solid rgb(232, 236, 237);
        box-shadow: 0 0 5px rgb(232, 236, 237);
        z-index: 10;
        position: relative;
        top: 10px;
        left: 2px;
        border-radius: 3px;
    }

    .n-li a {
        width: fit-content;
        font-size: 1rem;
    }

    #list-btn {
        padding: 0;
        margin: 0;
        font-size: 40px;
    }

    .active {
        display: block;
    }

    #logo {
        top: .4rem;
    }

    .sortbuttons {
        padding: 0;
        margin: 0;
        left: 0;
        top: 5rem;
        width: 100vw;
        height: 100px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        flex-direction: row;
        gap: .4rem;
        align-items: center;
        overflow: scroll;
        scroll-behavior: smooth;
        
    }


    .s-button {
        background-color: transparent;
        border-radius: 47px;
        min-width: fit-content;
        background-color: rgb(202, 199, 199);
        box-shadow: 0 10px 20px black;
        height: 3rem;
        font-size: 20px;
        padding: .3rem .7rem;
        margin: 0;
        text-align: center;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: start;
        border: 3px solid rgb(255, 255, 255);
        margin-left: 10px;
        box-shadow: 0 5px 20px black;
        background-color:#ced4da;
    }

    .down-player {
        width: 100vw;
        padding: 0 .5rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .down-bottom {
        height: 5rem;
        padding: 0;
        margin: 0;
    }

    .down-info {
        padding: 0;
        margin: 0;
        width: 50vw;
    }

    .down-info .down-img {
        width: 45%;
        height: 70px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .down-info .down-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }

    .down-info .down-details h1 {
        padding: 0;
        margin: 0;
        width: 90%;
        height: 2rem;
        text-align: start;
        font-size: 1.2rem;
        overflow: hidden;
        padding-top: 6px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
    }

    .down-info .down-details h3 {
        font-size: .8rem;
        height: 1.5rem;
        text-align: start;
        padding-top: 0px;
    }

    .down-controls {
        width: 30vw;
        display: flex;
        font-size:5px;
        justify-content: flex-start;
    }

    .down-controls span {
        width: fit-content;
        height: 2rem;
        font-size: 1.8rem;
        margin: 0px 3px;
        padding: 0 10px;
    }

    .down-controls span:nth-child(3) {
        width: 4rem;
        height: 3.7rem;
        padding: 0px 20px;
    }

    .down-controls span:nth-child(1),
    span:nth-child(5),
    span:nth-child(7) {
        display: none;
    }

    .album-s-song .s-details h4 {
        font-size: 2rem;
    }
    .album-card-container
    {
        background-color: white;
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .card-album {
        width: 20rem;
        height: 6rem;
        display: flex;
        flex-direction: row;
        border-radius: 13px;
        margin: 6px auto;
        box-shadow: 0 10px 10px rgb(45, 45, 42);
    }

    .album-img {
        width: 40%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 2px 2px;
        margin-left: 10px;
    }
    .a-details h1
    {
        padding: 0;
    }
    #body
    {
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .album-card-container
    {
        background-color: transparent;
    }
    .search-page .album-img {
        width:40%;
        height:100%;
        margin-top: 10px;
    }
}